<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363715077427-b96hrbjkm4u3v9qn2630s5ohsuvr5g8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363715077427-b96hrbjkm4u3v9qn2630s5ohsuvr5g8n</string>
	<key>API_KEY</key>
	<string>AIzaSyChCfru9P595JIm4YQQfjf3gopIYcvIqOk</string>
	<key>GCM_SENDER_ID</key>
	<string>363715077427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muuve.muuve-app-clone</string>
	<key>PROJECT_ID</key>
	<string>muuve-app-clone-9880a</string>
	<key>STORAGE_BUCKET</key>
	<string>muuve-app-clone-9880a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363715077427:ios:1621ed8846bcfc2aa60a46</string>
	<key>DATABASE_URL</key>
	<string>https://muuve-app-clone-9880a-default-rtdb.firebaseio.com</string>
</dict>
</plist>